.content-block-header {
  position: relative;
  box-sizing: border-box;
  display: block;
  padding: 15px;
}

.main-page-res-title {
  font-size: 70px;
}

.main-page-form {
  display: block;
  width: 85%;
  margin: 0 auto;
}

.main-page-search {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 0;
  width: 100%;
}

.main-page-search select {
  width:150px;
  font-size: 20px;
}

.main-page-search input {
  width:375px;
  font-size: 20px;
}

.main-page-search label {
  width:100%;
}

.main-page-submit-button {
  padding: 10px 30px;
  color: white;
  background-color: #da3743;
  border-radius: 3px;
  width: 20%;
  font-size: 24px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}
