.content-block-header {
  position: relative;
  box-sizing: border-box;
  display: block;
  padding: 15px;
}

.main-page-res-title {
  font-size: 70px;
  font-weight: bolder;
}

.main-page-form {
  display: block;
  width: 85%;
  margin: 0 auto;
  margin-top: -200px;
  background-color: white;
  position: relative;
  padding: 25px;
  box-shadow: 0 2px 8px rgba(153, 154, 153, .4);
  border-radius: 3px;
}
//
// .main-page-search {
//   display: flex;
//   margin-top: 0;
//   padding: 15px;
// }
//
// .main-page-search select {
//   width:150px;
//   font-size: 20px;
// }
//
// .main-page-search input {
//   width:375px;
//   font-size: 20px;
// }
//
// .main-page-search label {
//   width:100%;
// }
//
.main-page-submit-button {
  padding: 10px 30px;
  color: white;
  background-color: #da3743;
  border-radius: 3px;
  width: 20%;
  font-size: 24px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.main-page-search {
  display: flex;
  margin-top: 0;
  padding: 15px;
}

.main-page-dropdown {
  display: flex;
  width: 10%;
  border: 1px solid #D3D3D3;
  padding: 5px;
  font-size: 16px;
}

.main-page-dropdown select {
  border: none;
  background-color: white;
  font-size: 16px;
}

.main-page-calendar {
  display: flex;
  border: 1px solid #D3D3D3;
  padding: 5px;
  width: 15%;
  font-size: 16px;
}

.main-page-search-box {
  display: block;
  border: 1px solid #D3D3D3;
  padding: 5px;
  width: 45%;
  font-size: 18px;
}
.main-page-search-box input {
  border: none;
  width: auto;
}

.rest-li-text:hover{
  cursor: pointer;
}

.top-cuisines-box {
  display: block;
  width: 85%;
  margin: 0 auto;
  margin-top: 50px;
  background-color: white;
  padding: 25px;
  box-shadow: 0 2px 8px rgba(153, 154, 153, 0.4);
}

.top-cuisine-header h1 {
  font-size: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d8d9db;
  margin-bottom: 20px;
}

.featured-areas-box {
  display: block;
  width: 85%;
  margin: 0 auto;
  margin-top: 50px;
  background-color: white;
  padding: 25px;
  box-shadow: 0 2px 8px rgba(153, 154, 153, 0.4);
}

.featured-areas-header h1 {
  font-size: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d8d9db;
  margin-bottom: 20px;
}

.featured-areas {
  width: 100%;
}

.featured-areas th {
  width: 33.3%;
}

.featured-areas th:hover {
  cursor: pointer;
}

.featured-areas tr {
  height: 150px;
  text-align: center;
}

.featured-areas td {
  border: 1px solid black;
}

.featured-areas td:hover {
  cursor: pointer;
}

.nyc {
  background-image: url(http://res.cloudinary.com/dzmnmgun1/image/upload/c_fit,w_200/v1523515324/brooklyn-bridge-2380682_640.jpg);
  color: white;
  font-size: 30px;
  font-weight: bolder;
}

.chicago {
    background-image: url(http://res.cloudinary.com/dzmnmgun1/image/upload/v1523515324/chicago-1791002_640.jpg);
    color: white;
    font-size: 30px;
    font-weight: bolder;
    background-size: 100%;
}


.la {
  background-image: url(http://res.cloudinary.com/dzmnmgun1/image/upload/c_fit,w_200/v1523549917/Screen_Shot_2018-04-12_at_9.18.10_AM.png);
  color: white;
  font-size: 30px;
  font-weight: bolder;
  background-size: 100%;
}


.sf {
  background-image: url(http://res.cloudinary.com/dzmnmgun1/image/upload/v1523550023/pexels-photo-201101_1.jpg);
  color: white;
  font-size: 30px;
  font-weight: bolder;
  background-size: 100%;
  background-position-y: -50px;
}

.los-vegas {
  background-image: url(http://res.cloudinary.com/dzmnmgun1/image/upload/v1523550413/Screen_Shot_2018-04-12_at_9.26.27_AM.png);
  color: white;
  font-size: 30px;
  font-weight: bolder;
  background-size: 100%;
  background-position-y: -20px;
}

.miami {
  background-image: url(http://res.cloudinary.com/dzmnmgun1/image/upload/v1523551107/19604431_s.jpg);
  color: white;
  font-size: 30px;
  font-weight: bolder;
  background-size: 100%;
  background-position-y: -20px;
}

.best-mexican {
  background-image: url(http://res.cloudinary.com/dzmnmgun1/image/upload/v1525828473/g1tSitZ_-_Imgur.jpg);
  background-repeat: no-repeat;
  border: 1px solid #d8d9db;
}

.best-mexican:hover{
  cursor: pointer;
}

.best-italian {
  background-image: url(http://res.cloudinary.com/dzmnmgun1/image/upload/v1525827782/ZKSXOef_-_Imgur.png);
  background-repeat: no-repeat;
}

.best-italian:hover {
  cursor: pointer;
}

.best-japanese {
  background-image: url(http://res.cloudinary.com/dzmnmgun1/image/upload/v1525827630/diAnAGf_-_Imgur.png);
  background-repeat: no-repeat;
}

.best-japanese:hover{
  cursor: pointer;
}

.best-chinese {
  background-image: url(http://res.cloudinary.com/dzmnmgun1/image/upload/v1525828201/ue85Wio_-_Imgur.png);
  background-repeat: no-repeat;
}

.best-chinese:hover{
  cursor: pointer;
}

.featured-restaurants {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 200px;
}

.featured-restaurants li {
  height: 100%;
  background-size: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  border-radius: 3px;
  color: white;
  font-weight: bolder;
  padding-top: 20%;
}

.featured-restaurants tr{
  height: 180px;
}

.rest-li {
  box-sizing: border-box;
  display: block;
  width: 200px;
  height: 200px;
}

.feat-rest-div {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.rest-li-text{
  font-weight: bolder;
  font-size: 22px;
  color: white;
  text-shadow: 3px 3px 4px #000000;
}


.center {
  width: 100%
}
