.row {
  width: auto;
  max-width: none;
  box-sizing: border-box;
}

.page-header-content h1{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 40px;
}

.current-diner {
  box-sizing: border-box;
  line-height: 1;
  padding: 20px;
  font-size: 25px;
}

.row1, .row2{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.row2 select{
  width: 100%;
  border-radius: 0;
  margin-left: 10px;
  box-shadow: 0 2px 8px rgba(153, 154, 153, .4);
  border: 1px solid #D3D3D3;
}

.row2 textarea{
  width: 100%;
  border-radius: 0;
  margin-left: 20px;
  border: 1px solid;
  padding: 5px;
  box-shadow: 0 2px 8px rgba(153, 154, 153, .4);
  border: 1px solid #D3D3D3;
}

.row2 {
  margin-top: 15px;
}

.res-confirm-button{
  background-color: #da3743;
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  padding: 15px;
  margin-left: 20px;
  margin-top: 30px;
  cursor: pointer;
}

.res-confirm {
  padding-left: 20px;
}

.confirm-res-details {
  padding: 20px;
  display: flex;
}

.res-confirm h1{
  font-size: 25px;
  color: #237B98;
}

.res-confirm h1:hover{
  cursor: pointer;
}

.res-confirm{
  width: 100%;
}

.details {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.details label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 20px;
}

.complete-reservation-button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.complete-reservation-button button {
  color: white;
  background-color: #da3743;
  padding: 10px 150px;
  border-radius: 3px;
  font-size: 24px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.successful-booking {
  display: block;
  text-align: center;
  margin-top: 10%;
  font-size: 40px;
  color: #da3743;
  box-shadow: 0 2px 8px rgba(153, 154, 153, .4);
  padding: 40px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 200px;
}
