.rest-show {
  display: block;
  width: 60%;
  margin: 0 auto;
}
.rest-header-box {
  font-size: 40px;
  border-bottom: 1px solid #D3D3D3;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 30px;
}

.res-search-bar {
  margin: 15px;
  padding: 15px;
  border: 1px solid #D3D3D3;
  box-shadow: 0 2px 8px rgba(153, 154, 153, .4);
}

.res-search-bar h1 {
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #D3D3D3;
}

.res-search-bar form label {
  font-size: 20px;
  font-weight: bold;
}

.res-search-bar form div {
  display: flex;
  justify-content: space-between;
}

.res-search-bar form div label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-top: 10px;
  font-size: 16px;
  width: 100%;
  margin: 10px;
}

.res-search-bar form div label select {
  margin-top: 15px;
  cursor: pointer;
  background-color: white;
  display: block;
  border: none;
  border-bottom: 1px solid #d8d9db;
  padding-bottom: 5px;
  font-size: 14px;
}

.res-search-button {
  background-color: #da3743;
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  padding: 10px;
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.res-sub-button {
  display: flex;
  text-align: center;
  justify-content: left;
  color: white;

}

.rest-info-box{
  display: block;
  justify-content: left;
  padding: 20px;
}

.restaurant-details div {
  display: flex;
  margin-bottom: 8px;
}

.restaurant-details i {
  padding-top: 5px;
  padding-right: 15px;
}

.rest-info-box p {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.rest-detail-columns {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.rest-detail-columns h3{
  font-size: 20px;
  font-weight: bolder;
}

.favorite-container {
  display: block;
  text-align: center;
  padding-left: 250px;
  padding-right: 250px;
}

.favorite-icon {
  padding-right: 5px;
}
.favorite-button {
  border: 1px solid #d8d9db;
  padding: 10px 20px;
  display: flex;
}

.favorite-button:hover{
  cursor:pointer;
}

.favorite-button a {
    display: flex;
    justify-content: center;
}

.review-specifics{
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
}

.rating {
  padding-right: 20px;
  font-size: 18px;
  border-right: 1px solid #d8d9db;
}

.center-rating {
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #d8d9db;
  font-size: 18px;
}

.end-rating {
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #d8d9db;font-size: 18px;
}

.rating-num {
  font-weight: bolder;
  padding-right: 5px;
}

.overall-rating{
  display: flex;
}
