// Place all the styles related to the Api::Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurant-details {
  list-style-type: none;
  margin-top: 15px;
}

.restaurant-location {
  display: flex;
  justify-content: space-between;
}

.rest-index-list {
  list-style-type: none;
}

.rest-index-link{
  font-size: 25px;
  color: #237B98;
}

.restaurant-box {
  border-bottom: 1px solid #D3D3D3;
  padding: 20px;
  display: flex;
}

.left-row-photo {
  display: inline-block;
  float: left;
}

.right-row-info {
  width: 100%;
  padding-left: 15px;
}

.form-link {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.create-restaurant {
  color: white;
  background-color: #da3743;
  padding: 10px 200px;
  border-radius: 3px;
  width: 200px;
  font-size: 24px;
  text-align: center;
}

.rest-image {
  border-radius: 3px;
}
