.review-form-header{
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.33;
  color: rgb(45, 51, 63);
  border-bottom: 1px solid rgb(216, 217, 219);
  padding-bottom: 1rem;
  margin: 0 0 1rem;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
