/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: #f7f7f7;
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 1600px;
  margin: auto;
}

.home-link {
  display: flex;
}
main .main-container {
   min-height: 900px;
   width: 1200px;
   background: white;
   padding: 0px 20px;
   border-radius: 5px;
}

.splash {
  width: 1200px;
}

header {
  border-bottom: 1px solid #D3D3D3;
}

.main-nav {
  display: flex;
  padding: 0;
  height: 55px;
  border-bottom: 1px solid #D3D3D3;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 15px;
  border-top: 1px solid #D3D3D3;
}

.left-nav {
  display: flex;
  width: 300px;
  height: 55px;
  font-size: 28px;
  font-weight: 400;
  vertical-align: middle;
  border-right: 1px solid #D3D3D3;
  border-left: 1px solid #D3D3D3;
}

.logo-image {
  background-image: image-url("logo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40px;
  height: 30px;
  margin-top: 10px;

}

.logo-name {
  margin: 10px;
  font-size: 28px;
  font-weight: 500;
}

.current-location {
  margin: 15px;
}

.middle-nav {
  text-align: left;
  width: 400px;
  height: 55px;
  font-size: 20px;
  font-weight: 400;
  vertical-align: middle;
  border-right: 1px solid #D3D3D3;
}

.right-nav {
  text-align: right;
  width: 900px;
  height: 55px;
  font-size: 18px;
  font-weight: 400;
  vertical-align: middle;
  border-right: 1px solid #D3D3D3;
}

.greeting-nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  text-align: right;
}

.greeting {
  font-size: 20px;
  align-items: center;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-left: 1px solid solid #D3D3D3;
}
